/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900|Righteous&display=swap");

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/

/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

.main-layout {
  color: #666666;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  line-height: 1.80857;
  font-weight: normal;
}

.main-layout a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #111111;
  margin: 0;
}

h1 {
  font-size: 24px;
  font-family: "Righteous", cursive;
}

h2 {
  font-size: 22px;
  font-family: "Righteous", cursive;
}

h3 {
  font-size: 18px;
  font-family: "Righteous", cursive;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #212121;
  text-decoration: none !important;
  opacity: 1;
}

button:focus {
  outline: none;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 0px;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
}

a {
  color: #222222;
  text-decoration: none;
  outline: none !important;
}

a,
.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

:focus {
  outline: 0;
}

.btn-custom {
  margin-top: 20px;
  background-color: transparent !important;
  border: 2px solid #ddd;
  padding: 12px 40px;
  font-size: 16px;
}

.lead {
  font-size: 18px;
  line-height: 30px;
  color: #767676;
  margin: 0;
  padding: 0;
}

.form-control:focus {
  border-color: #ffffff !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.navbar-form input {
  border: none !important;
}

.badge {
  font-weight: 500;
}

blockquote {
  margin: 20px 0 20px;
  padding: 30px;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.full {
  float: left;
  width: 100%;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding_2 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.light_silver {
  background: #f9f9f9;
}

.theme_bg {
  background: #38c8a8;
}

.margin_top_30 {
  margin-top: 30px !important;
}

.full {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}

/**-- heading section --**/

/*-- navigation--*/

.navigation.navbar {
  padding-top: 12px;
  float: right;
}

.navigation.navbar-dark .navbar-nav .nav-link {
  padding: 0 25px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
  color: #000;
}

.navigation.navbar-dark .navbar-nav .active > .nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show > .nav-link {
  color: #fdd430;
}

/*-- header area --*/

/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.titlepage {
  text-align: center;
  padding-bottom: 60px;
}

.titlepage h2 {
  font-size: 40px;
  color: #3e3e3e;
  line-height: 57px;
  font-weight: bold;
  padding: 0;
  padding-bottom: 20px;
}

.d_flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.site-logo-img {
  padding-right: 10px;
  margin-top: 2px;
}
/** blog_main section **/
.blog_main {
  margin-top: 85px;
}
.blog_main .span {
  font-size: 17px;
  line-height: 20px;
  color: #2d2d2d;
}
.our_two_box {
  box-shadow: #ddd 0px 0px 10px 0px;
  margin-bottom: 90px;
}
.our_text_box {
  padding: 1px 30px 1px 1px;
}
.our_img figure {
  margin: 0;
}
.our_img figure img {
  width: 100%;
}
.awesome {
  padding-bottom: 40px;
  font-size: 26px;
  line-height: 38px;
  color: #333334;
}
.our_text_box p {
  padding-bottom: 50px;
  color: #3c3c3c;
  display: inline-block;
}
.flot_left1 {
  float: left;
  padding: 0;
}
.left2 {
  padding-left: 30px;
}
/* ul.like {
  float: right;
}
ul.like li {
  display: inline-block;
}
ul.like li a {
  display: inline-block;
  color: #3c3c3c;
}
ul.like li img {
  padding: 0px 10px 0px 40px;
} */

/** end three section **/
.padding_flot {
  padding-bottom: 0;
  display: inline-block;
  float: left;
  font-size: 20px;
  padding-right: 14px;
}
.three_box {
  padding: 20px 20px;
  box-shadow: #ddd 0px 0px 10px 0px;
}
.three_box p {
  padding-bottom: 0;
  padding-top: 15px;
}
ul.padding_left2 li img {
  padding: 0px 10px 0px 30px;
}

/** end three section **/

/** end for section **/

.magna_top90 {
  margin-top: 90px;
}

/** end for section **/

/** end blog_main section **/

/** we_do section **/

.padd_left0 {
  padding-left: 0;
}

.we_do {
  padding: 90px 0px 60px 0px;
}

.we_do .titlepage h2 {
  color: #000;
  padding-bottom: 10px;
}

.we_do_box1 i {
  border: #63ffc2 solid 4px;
  background-color: #63ffc2;
}
.we_do_box2 i {
  border: #34c3eb solid 4px;
  background-color: #34c3eb;
}
.we_do_box3 i {
  border: #eb34b4 solid 4px;
  background-color: #eb34b4;
}
.we_do_box i {
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 85px;
  transition: ease-in all 0.1s;
  cursor: pointer;
}

.we_do_box i:hover {
  width: 140px;
  height: 140px;
  transition: ease-in all 0.2s;
}

.we_do_box {
  text-align: center;
}

.we_do_box h4 {
  color: #000;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  padding: 0;
  padding-top: 35px;
}

.we_do_box p {
  color: #000;
  font-size: 17px;
  line-height: 28px;
  padding: 25px 0;
}

/** end we_do section **/

/* contact us  */
.wrapper {
  position: relative;
  overflow: hidden;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 100px 0;
}
.text {
  width: 50%;
  padding-right: 150px;
}
.text p {
  font-size: 28px;
  line-height: 46px;
  color: #000;
}
.text a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  /* color: #000; */
  text-decoration: none;
  padding: 18px 30px;
  letter-spacing: 2px;
  font-weight: 500;
  /* margin-top: 60px; */
}
.text a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  /* background-color: #63ffc2; */
  z-index: -1;
  transition: all ease 0.5s;
}
.text a:hover:before {
  width: 100%;
}

.img {
  position: relative;
  width: 500px;
  height: 500px;
  background: radial-gradient(520px, transparent 50%);
  margin-top: -50px;
}
.email-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.social-icons {
  height: 100%;
  animation: rotation 60s linear infinite;
}
@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
.social-icons img {
  position: absolute;
}
.social-icons img:nth-child(1) {
  top: 0;
  left: 42%;
}
.social-icons img:nth-child(2) {
  top: 25%;
  right: 0;
}
.social-icons img:nth-child(3) {
  top: 70%;
  left: 70%;
}
.social-icons img:nth-child(4) {
  top: 25%;
  left: 0;
}
.social-icons img:nth-child(5) {
  top: 70%;
  left: 10%;
}
.text a .btn {
  color: black;
}
a.btn {
  display: inline-block;
  width: 180px;
  height: 60px;
  line-height: 60px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 18px;
  border-radius: 50px;
  transition: all ease 0.5s;
}
a.btn:hover {
  background-color: #615c59;
}
/* end of contact us  */

/* single css */
.wp-block-columns {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
}

.wp-block-column {
  width: 100%;
}

.has-text-align-center {
  text-align: center;
}
.has-text-align-right {
  text-align: right;
}
form .logged-in-as {
  display: block !important;
}
form .logged-in-as a {
  color: #38c8a8 !important;
}
form .comment-form-comment label {
  display: none !important;
}
form .comment-form-comment textarea {
  background-color: rgb(228, 228, 228) !important;
  border: none;
}
form .form-submit {
  display: block !important;
}
form .form-submit input {
  background-color: #38c8a8 !important;
  color: #fff;
  font-weight: 400;
  border: none !important;
  padding: 15px;
}
.single-page-thumbnail {
  padding-bottom: 2rem;
}
/* end of singles css */
/* footer  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.foot .container {
  max-width: 1170px;
  margin: auto;
}
.foot .row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #737974;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
.copyright {
  color: #38c8a8;
  text-align: center;
  border-top: 1px solid #38c8a8;
  margin-top: 1.5rem;
  padding-top: 5px;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.padding-top-footer {
  height: 100px;
}
/* end of footer  */
