.header-link {
  color: black;
}

/* 404 page */
.page_content {
  background-image: url("/assets/images/404.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
<<<<<<< HEAD
    }
=======
}
/* .footer
  {
    height: 150px
    } */
>>>>>>> e3164aca0bce37561c423d2e9849c2512fd78901
